.feynman__title {
    position: relative;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    padding-top: 100px;
    width: 648px;
    margin: 0 auto;
    text-align: center;
    z-index: 5;
  }