.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color: #f2f2f2;
}

.logo {
  widows: 183px;
}

.logo_place_header {
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  align-self: center;
  line-height: 96px;
  font-size: 102px;
  width: 730px;
  display: block;
  padding-left: 64px;
  font-weight: bold;
  position: absolute;
  z-index: 2;
  margin: 0;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
  margin: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-ilustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}


.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
}

.two-columns {
  width: 80%;
  display: flex;
  padding-top: 100px;
  margin: auto;
  justify-content: space-between;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  width: 175px;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text_font_size {
  line-height: 34px;
  font-size: 24px;
}

.two-columns__main-text {
  font-weight: normal;
  width: 80%;
  min-width: 784px;
}

.two-columns__span-accent {
  font-weight: bold;
}

.two-columns__paragraph {
  margin: 0;
}

.two-columns__paragraph:nth-child(2) {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-title {
  margin: 0;
  padding-top: 100px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}

.table {
  display: flex;
  width: 1100px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-bottom: 100px;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  padding-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding-top: 20px;
}

.feynman {
  background-color: #f2f2f2;
  position: relative;
  height: 890px; /*приняли высоту на 100px больше, т.к. у нас идет padding-top на 100px*/
  z-index: -2;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  padding-top: 100px;
  width: 648px;
  margin: 0 auto;
  text-align: center;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  padding-top: 70px;
  margin: 0;
  text-align: center;
}

.feynman__link { 
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
}

.feyman__background-img {
  background-image: url(../images/feynman.png);
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.kaufman {
  background-color: #000000;
  overflow: hidden;
  position: relative;
  z-index: -2;
}

.section-title_theme_dark {
  color: white;
  padding-top: 90px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.section-subtitle_theme_dark {
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}

.table_theme_dark {
  padding-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  padding-top: 80px;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
}

.footer {
  background-color: #000000;
  color: white;
  min-height: 350px;
}

.footer__columns {
  padding-top: 60px;
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  padding-bottom: 40px;
  
}

.footer__columns_content_copyright {
  flex-basis: 711px; 
  position: relative;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-bottom: 18px;
  padding-top: 18px;
  margin: 0;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 20px;
}

.footer__column-links {
  list-style-type: none;
  padding-left: 0;
  margin:0;
  padding-bottom: 16px;
}

.footer__social-links {
  list-style-type: none;
  padding-left: 0;
  margin:0;
  padding-bottom: 16px;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  text-align: left;
  padding-bottom: 10px;
}

.footer__social-icon {
  padding-right: 10px;
  width: 16px;
  height: 16px;
}